<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SLN_SMM_D4TA_EDITOR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

    <userSettings>
        <SLN_SMM_D4TA_EDITOR.Properties.Settings>
            <setting name="LanguageFile" serializeAs="String">
                <value>English</value>
            </setting>
        </SLN_SMM_D4TA_EDITOR.Properties.Settings>
    </userSettings>
</configuration>